/* :root{
  --color-dark: #001219;
  --color-primary: #595260;
  --color-secondary: #B2B1B9;
  --color-text: #e4e3e7;
  --color-accent: #FFD523;

  --color-button-bg: #d62828;
  --color-input-placeholder: #690000;

  --color-footerheader-bg: #0F1418;
} */
 @import url("./colors.css");

.contact{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.contact_subtitle{
  font-weight: 24px;
  text-align: center;
  margin: 40px 50px;
  line-height: 45px;
  font-weight: bold;
  color: var(--color-text);
}

.contact_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact_container p{
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.contact_item{
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
  height: 40px;
}

.contact_item i{
  font-size: 20px;
}

.contact_item p{
  margin: 0 10px;
  font-size: 18px;
  font-weight: normal;
}

.contact_item:hover i{
  color: var(--color-button-bg);
}

@media screen and (max-width: 400px){
  

}